body {
  background-color: #F2F7FF;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  height: 100vh;
  overflow: hidden;
  background: #348f50;
  background: -webkit-linear-gradient(to right, #348f50, #56b4d3);
  background: linear-gradient(to right, #348f50, #56b4d3); }

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; }

.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px 50px; }
  .settings-container__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px; }

.input-container {
  margin-bottom: 10px; }

.filter {
  appearance: none;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #eaf7e3;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; }

.filter:hover {
  background-color: #d4f1cd; }

.filter:focus {
  outline: none;
  box-shadow: 0 0 0 2px #8bc34a; }

.filter option {
  background-color: #eaf7e3;
  color: #333; }

.filter option:hover {
  background-color: #d4f1cd; }

.input-field {
  background-color: #E6E6E6;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #444444;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 15px;
  width: 200px; }
  .input-field--width {
    border: 1px solid #CCCCCC; }
    .input-field--width:focus {
      border-color: #3F51B5;
      outline: none; }
  .input-field--height {
    border: 1px solid #CCCCCC; }
    .input-field--height:focus {
      border-color: #3F51B5;
      outline: none; }

.submit-button {
  background-color: #3F51B5;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: background-color 0.3s ease; }
  .submit-button:hover {
    background-color: #2F3D87; }
  .submit-button:active {
    transform: scale(0.95); }

.canvas {
  display: none; }
  .canvas__wrapper {
    max-width: 55vw;
    max-height: 50vw;
    overflow: auto;
    box-shadow: 0 0 30px 0 #000000; }
    .canvas__wrapper::-webkit-scrollbar-track {
      background: black; }
  .canvas__clear-canvas {
    display: inline-block;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    background-color: #000000;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer; }
  .canvas__functionality {
    position: absolute;
    left: 20px;
    top: 30%; }
    @media only screen and (max-width: 540px) {
      .canvas__functionality {
        top: 5%; } }
  .canvas__functionality > label {
    display: flex;
    flex-direction: column; }
  .canvas__functionality > *:not(:last-child):nth-child(2) {
    margin-bottom: 10px; }
  .canvas__pixels {
    display: flex;
    flex-direction: column; }
  .canvas__pixels-row {
    display: flex; }
  .canvas__pixel {
    cursor: pointer;
    min-width: 50px;
    min-height: 50px;
    background-color: white; }
  .canvas__color-pick {
    background-color: transparent;
    width: 50px;
    height: 50px;
    border: none;
    outline: none; }
  .canvas__color-pick-span {
    font-weight: bold; }
  .canvas__get-hex-button {
    display: inline-block;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    background-color: #4CAF50;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer; }
    .canvas__get-hex-button:hover {
      background-color: #66BB6A;
      color: #fff;
      transform: translateY(-2px); }
    .canvas__get-hex-button:active {
      transform: translateY(2px); }
  .canvas__zoom > * {
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    background-color: #FF5722;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer; }
    .canvas__zoom > *:hover {
      background-color: #bba066;
      color: #fff;
      transform: translateY(-1px); }
    .canvas__zoom > *:active {
      transform: translateY(0px); }

.error {
  display: none;
  position: absolute;
  top: 15px;
  background-color: #ff3300;
  box-shadow: 0 0 10px 0 #000000;
  border-radius: 10px;
  padding: 20px 100px; }
  .error__message {
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-size: 20px; }

.really-clear-popup {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 20px 0 #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  flex-direction: column;
  align-items: center;
  transform: translate(-50%, -50%); }
  .really-clear-popup__question {
    font-size: 20px;
    color: red; }
  .really-clear-popup__buttons > *:not(:last-child) {
    margin-right: 5px; }
  .really-clear-popup__no-button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer; }
  .really-clear-popup__yes-button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    background-color: #FF5722;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer; }
